:root, [data-bs-theme=light] {
  --bs-primary: #373737;
  --bs-primary-rgb: 55,55,55;
  --bs-primary-text-emphasis: #161616;
  --bs-primary-bg-subtle: #D7D7D7;
  --bs-primary-border-subtle: #AFAFAF;
  --bs-secondary: #ffffff;
  --bs-secondary-rgb: 255,255,255;
  --bs-secondary-text-emphasis: #666666;
  --bs-secondary-bg-subtle: #FFFFFF;
  --bs-secondary-border-subtle: #FFFFFF;
  --bs-warning: #ffffff;
  --bs-warning-rgb: 255,255,255;
  --bs-warning-text-emphasis: #666666;
  --bs-warning-bg-subtle: #FFFFFF;
  --bs-warning-border-subtle: #FFFFFF;
  --bs-body-color: #000000;
  --bs-body-color-rgb: 0,0,0;
  --bs-secondary-color: rgba(0,0,0,0.75);
  --bs-secondary-color-rgb: 0,0,0,0.75;
  --bs-tertiary-color: rgba(0,0,0,0.5);
  --bs-tertiary-color-rgb: 0,0,0,0.5;
  --bs-body-font-family: Poppins, sans-serif;
  --bs-border-width: 1px;
  --bs-border-radius: 20;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #373737;
  --bs-btn-border-color: #373737;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2F2F2F;
  --bs-btn-hover-border-color: #2C2C2C;
  --bs-btn-focus-shadow-rgb: 225,225,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2C2C2C;
  --bs-btn-active-border-color: #292929;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #373737;
  --bs-btn-disabled-border-color: #373737;
}

.btn-outline-primary {
  --bs-btn-color: #373737;
  --bs-btn-border-color: #373737;
  --bs-btn-focus-shadow-rgb: 55,55,55;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #373737;
  --bs-btn-hover-border-color: #373737;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #373737;
  --bs-btn-active-border-color: #373737;
  --bs-btn-disabled-color: #373737;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #373737;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-outline-secondary {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-outline-warning {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

